
@import 'SystemUI.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  overflow: hidden;
}
body {
  background-color: black;
  // border: 1px solid red;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-flow: column nowrap;
// border: 2px solid red;
  color: white;
  overflow: hidden;
  position: relative;
  font: {
    family: "Extra Light";
  }
  a{
    color:white;
    text-decoration: none;
  }
}

body,
header,
main,
footer {
  // border: 1px solid red;
  display: flex;
}



main {
  flex: 1 0 40%;
  justify-content: center;
  overflow: scroll;
  
}
footer {
  // flex: 0 0 15%;
}
