.header {
  flex: 0 0 5%;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  nav {
    // background-color: red;
    flex: 0 0 50%;
    ul {
      display: inherit;
      justify-content: space-evenly;
      flex: 0 0 100%;
      display: flex;
      list-style-type: none;
    }
  }
}

.heroHeader {
  background-color: rgba(blue, 0.3);
}
