.header {
  flex: 0 0 5%;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  nav {
    // background-color: red;
    flex: 0 0 50%;
    ul {
      display: inherit;
      column-gap: 2rem;
      flex: 0 0 100%;
      display: flex;
      list-style-type: none;
      li {
        text:{
          transform: uppercase;
        }
        span {
          display: block;
          height: 2px;
          background-color: white;
          transition: all 1s;
        }
      }
    }
  }
}

.heroHeader {
  background-color: rgba(blue, 0.3);
}

.inactive {
  span {
    transform: scale(0);
  }
}

.active {
  span {
    transform: scale(1);
  }
}
