@import "../../app/SystemUI.scss";

.header {
  flex: 0 0 10%;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  nav {
    // background-color: red;
    flex: 0 0 50%;
    ul {
      display: inherit;
      column-gap: 2rem;
      flex: 0 0 100%;
      display: flex;
      list-style-type: none;
      li {
        text: {
          transform: uppercase;
        }
        span {
          display: block;
          height: 2px;
          background-color: white;
          transition: all 1s;
        }
      }
    }
  }
  div {
    flex: 0 1 auto;
    flex-flow: column nowrap;
    row-gap: 0.2rem;
    align-items: flex-end;
    padding:0;

    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.5rem;
      border: 1px solid rgba(white, 0.3);
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;

      font: {
        family: "Extra Bold";
      }
      &:hover{
        transition: all 0.3s;
        background-color: rgba(white,0.3);
      }
    }
    p {
      font: {
        size: 0.8rem;
      }
    }
  }
}

.heroHeader {
  background-color: rgba(blue, 0.3);
}

.inactive {
  span {
    transform: scale(0);
  }
}

.active {
  span {
    transform: scale(1);
  }
}

.hidden {
  visibility: hidden;
}
