@import "../../../app/SystemUI.scss";
.contact {
  //   background-color: red;
  display: inherit;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1rem;
  padding-right: 3rem;
  div {
    width: 4rem;
    height: 4rem;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    border: 2px solid white;
    img {
      object-fit: cover;
    }
  }
  ul {
    display: inherit;
    flex-flow: column nowrap;
    list-style: none;
    row-gap: 0.5rem;
    li {
      display: inline-flex;
      &:first-of-type {
        a {
          font: {
            size: 1rem;
          }
        }
      }
      &:last-of-type {
        column-gap: 1rem;
        a {
          font: {
            size: 1.2rem;
          }
          &:hover {
            transition: all 0.3s;
            transform: scale(1.2);
          }
        }
      }
      a {
        color: white;
        text: {
          decoration: none;
        }
      }
    }
  }
}
