.music {
  flex: 0 0 100%;
  display: inherit;
  background-color: rgba(blue, 0.3);

  article {
    display: inherit;

    &:first-of-type {
      flex: 0 0 60%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;

      div {
        display: inherit;
        flex-flow: row nowrap;
        flex-flow: column nowrap;
        width: 100%;
        padding: 1rem;
        background-color: rgba(black, 0.6);
        p {
          text: {
            transform: uppercase;
            align: center;
          }
          letter-spacing: 0.3rem;

          &:last-of-type {
            font: {
              size: 2rem;
            }
          }
        }
      }
      img {
        position: absolute;
        object-fit: cover;
        z-index: -1;
        filter: grayscale(1);
      }
    }
    &:last-of-type {
      flex: 0 0 40%;
      justify-content: flex-end;
      iframe {
        position: absolute;
        top: 0;
        height: calc(100% - 6rem);
        width: 40%;
        background-color: #282828;
        z-index: 0;

        // height: 50%;
      }
    }
  }
}
